$theme-colors: (
  "primary": #007bff,
  "light": #ffffff,
  "orange": #ff9425,
  "gray": #ebebeb,
  "green": #28a745,
  "light-gray": #bebebe,
  "background-light-gray": #ebe8e8,
  "background-gray": #f4f6f9,
);

$icon-size: 24px;
$icon-size-father: 50px;

@import "bootstrap/scss/bootstrap";

.bi-father {
  font-size: $icon-size-father;
  height: $icon-size-father;
  width: $icon-size-father;
}

.dItem:hover {
  background-color: map-get($theme-colors, "background-light-gray");
}

.dItem:hover .bi-father {
  background-color: map-get($theme-colors, "light");
}

.icon-bank {
  font-size: $icon-size;
  height: $icon-size;
  width: $icon-size;
}
